.bgslide {
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }
 
  .bgslide {
    display: none;
    /* Tambahkan gaya tambahan sesuai kebutuhan Anda */
  }
 
  .mygalery {
    background-color: aqua;
    padding: 16px 22px;
    border-radius: 2em;
    color: #000000;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .mygalery:hover{
    background-color: #fff;
  }
  .klik {
    text-align: center;
    margin-bottom: 2%;
  }
 
  @media (max-width: 620px) {
    .bgslide {
      background-color: rgb(255, 255, 255);
      max-width: 400px;
      padding: 15px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
    }
 
    .mygalery {
      background-color: aqua;
      padding: 10px 15px;
      border-radius: 1rem;
      color: #000000;
      font-size: 1.2rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
 
 
  }
 
  h1 {
    text-align: center;
    font-size: 17px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
  }
 
  .slider .slick-slide {
    border: solid 1px rgb(255, 255, 255);
  }
 
  .slider .slick-slide img {
    width: 100%;
  }
 
  /* make button larger and change their positions */
  .slick-prev,
  .slick-next {
    width: 70px;
    height: 70px;
    z-index: 1;
  }
 
  .slick-prev {
    left: 5px;
  }
 
  .slick-next {
    right: 5px;
  }
 
  .slick-prev:before,
  .slick-next:before {
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
 
  /* move dotted nav position */
  .slick-dots {
    bottom: 15px;
  }
 
  /* enlarge dots and change their colors */
  .slick-dots li button:before {
    font-size: 12px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
 
  .slick-dots li.slick-active button:before {
    color: #dedede;
  }
 
  /* hide dots and arrow buttons when slider is not hovered */
  .slider:not(:hover) .slick-arrow,
  .slider:not(:hover) .slick-dots {
    opacity: 0;
  }
 
  /* transition effects for opacity */
  .slick-arrow,
  .slick-dots {
    transition: opacity 0.5s ease-out;
  }