:root {
  box-sizing: border-box;
}

html,
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to left, blue, white, blue);
}

#app {
  height: 100vh;
}

.summary {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border: 7px solid rgb(0, 0, 0);
  width: 420px;
  height: 400px;
  text-align: center;
  border-radius: 3em;
  background-color: rgb(0, 153, 255);
  box-shadow: 0 0 20px black;
}

.games {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  background-color: white;
  box-shadow: 0 0 15px black;
  margin: 4%;
  padding: 3%;
  text-align: center;
  font-size: 39px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.option:hover {
  background-color: rgb(0, 153, 255);
  border: 3px solid white;
  border-radius: 30%;
  cursor: pointer;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  transform: scale(105%);
  -webkit-transform: scale(105%);
  -moz-transform: scale(105%);
  -ms-transform: scale(105%);
  -o-transform: scale(105%);
  -webkit-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  -moz-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  -ms-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
  -o-transition: cubic-bezier(0.215, 0.61, 0.355, 1) ease-in-out;
}

@media (max-width: 480px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    background-image: linear-gradient(to top, rgb(0, 183, 255), white);
  }
  #app {
    padding-top: 15%;
  }
  .summary {
    width: 300px;
    height: 300px;
  }
  .games {
    margin-top: 15%;
  }
}
