@media (max-width: 991px) {
    body {
        font-weight: 300 !important;
        background-image: url("../img/919.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        align-items: center;
    }

    .home {
        min-height: 70vh;
        flex-direction: column-reverse;
        margin-bottom: 60%;
    }

    .home .content1 {
        margin-top: 30px;
        width: 310px;
    }

    .home .content1 h2 {
        font-size: 1.5em;
        font-weight: 300;
    }

    .home .content1 h2 span {
        font-size: 1.5em;
        font-weight: 300;
    }

    .animasi-text {
        height: 70px;
    }

    .animasi-text h3 {
        font-size: 1.5em;
    }

    .animasi-text h3:nth-child(1) {
        animation: text-move 10s infinite;
    }

    @keyframes text-move {
        0% {
            margin-top: 0;
        }

        25% {
            margin-top: -65px;
        }

        50% {
            margin-top: -140px;
        }

        75% {
            margin-top: -65px;
        }

        100% {
            margin-top: 0;
        }
    }

    .atasbtns {
        padding-top: 40px;
    }

    .btns {
        margin-top: 0px;
        padding: 7px;
        font-size: 17px;
        margin-bottom: 20px;
    }

    /* konten kanan */
    .home .content2 {
        width: 250px;
    }

    /* foto di halaman home */
    .home .img {
        width: 25vh;
        border-radius: 50%;
    }

    /*ABOUT*/
    .About h1 {
        padding-top: 20%;
        padding-bottom: 10%;
        font-size: 2em;
    }

    .aboutblog {
        flex-direction: column;
        padding-bottom: 30%;
    }

    .aboutblog .blogimg {
        width: 50%;
        margin-top: 20px;
    }

    .aboutblog .img {
        width: 18vh;
    }

    /* text-blog*/
    .aboutblog .text-blog {
        width: 400px;
        text-align: center;
        margin-left: 0;
    }

    .aboutblog p {
        font-size: 1.3em;
    }

    /*ICON SOSIAL MEDIA*/
    /* sosial*/
    .fh5co-social {
        text-align: center;
        padding: 1px 0;
        margin-top: 80%;
        margin-bottom: 100%;
    }

    .fh5co-social .site-container {
        text-align: center;
    }

    .social {
        flex-direction: column;
    }

    .social h2 {
        font-size: 1.7em;
        margin-bottom: 9%;
    }

    .social-icons {
        margin-top: 5%;
    }

    .social-icons a {
        margin: 5px;
    }

    .social-icons i {
        border-radius: 50%;
        padding: 9px 10px;
    }

    /*game*/
    .game {
        margin-top: 10%;
        margin-bottom: -25%;
    }

    .title h2 {
        padding-top: 40%;
        margin-bottom: 15%;
        text-align: center;
        color: #fff;
        font-size: 1.9em;
    }

    #pergeseran {
        margin-top: 7px;
        margin-bottom: 40%;
        opacity: 1;
        visibility: visible;
        transition: all 1s ease;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        left: 0;
        padding: 0 50px;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
    }

    .geser a {
        border: 2px solid #646464;
        margin: 10px;
        padding: 0 7px;
        border-radius: 10px;
        color: rgb(21, 93, 247);
        text-decoration: none;
    }

    #pergeseran>* {
        flex-wrap: nowrap;
        text-align: center;
        font-size: 27px;
        font-family: "Poppins", sans-serif;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        flex-shrink: 0;
        width: 100%;
        min-height: 290px;
        margin: 0 50px 0 0;
        scroll-snap-align: center;
    }

    /*MUSIK*/
    .musik {
        font-size: 15px;
        height: 28px;
        width: 23%;
    }

    /* copright */
    footer {
        position: relative;
        background-color: #292929;
        bottom: -1rem;
        width: auto;
        padding: 8px;
    }

    .bawah p {
        padding-top: 15px;
        color: #fff;
        font-size: 15px;
    }
}