* {
  padding: 0;
  margin: 0;
}

body {
  font-weight: 300 !important;
  background-image: url('../img/walpaperr.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}

.profile img {
  width: 15%;
  height: auto;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  object-fit: cover;
  transition: box-shadow 0.3s;
  margin-top: 7%;
}

.profile img:hover {
  box-shadow: 0 0 30px 8px rgba(255, 0, 0, 0.7); /* Ubah warna sesuai dengan preferensi Anda */
  animation: shadowChange 2s infinite;
}

@keyframes shadowChange {
  0% { box-shadow: 0 0 30px 8px rgba(255, 0, 0, 0.7); }
  25% { box-shadow: 0 0 30px 8px rgba(0, 255, 0, 0.7); }
  50% { box-shadow: 0 0 30px 8px rgba(0, 0, 255, 0.7); }
  75% { box-shadow: 0 0 30px 8px rgba(255, 255, 0, 0.7); }
  100% { box-shadow: 0 0 30px 8px rgba(255, 0, 255, 0.7); }
}


#teks-me {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 1.7rem;
  margin-top: 4%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #ffffff;
  height: auto;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin-top: 3%;
  margin-left: 40%;
  margin-right: 40%;
  padding-top: 1%;
  padding-bottom: 1%;
}
#teks-blog{
  display: none;
  color: white;
  text-align: center;
  font-size: 1.7rem;
  margin-top: 5px;
  padding: 1%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
}


.musik{
  font-size: 1.0rem;
  background-color: rgb(255, 255, 255);
  margin-top: 18%;
  border-radius: 2em;
  height: 35px;
  width: 7%;
  margin-left: 10px;
  margin-top: 10%;
}
.musik:hover{
  background-color: rgb(255, 0, 0);
}
.musik.stop {
  background-color: rgb(255, 0, 0);
  color: white;
}
@media (max-width:991px) {
  body {
    background-image: url('/assets/img/919.jpg');
  }

  .profile img {
    width: 27%;
    height: auto;
    margin-top: 18%;
  }

  .profile img:hover {
    width: 29%;
    height: auto;
    image-rendering: smooth;
  }
  .musik{
    padding-left: 5px;
    font-size: 1.0rem;
    background-color: rgb(255, 255, 255);
    margin-top: 18%;
    border-radius: 1rem;
    height: 35px;
    width: 20%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}

.profile h3 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.8rem;
}

.profile h2{
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 30px;
  text-align: center;
}


@media (max-width:991px) {
  .profile h3 {
    font-size: calc(1vw + 1.4rem);
  }
  .profile h2{
    margin-top: 18px;
    font-size: calc(.5vw + 1.4rem);
  }

  #teks-me{
    font-size: calc(.5vw + 1rem);
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 7%;
  }
  #teks-blog {
    font-size: calc(.5vw + 1rem);
    margin-top: 2px;
  }
}
input {
  text-align: center;
  background-color: aqua;
  margin-top: 9px;
  border-radius: 8px;
  height: 30px;
  width: 60px;
}


/*Geser*/

.title h2 {
  margin-top: 10%;
  text-align: center;
  color: #fff;
  font-family: cursive;
  font-size: 30px;
}
a {
  text-decoration: none;
}


#Content,
#tkado {
  display: none
}

#pergeseran {
  margin-top: 10px;
  margin-bottom: 12px;
  opacity: 5%;
  visibility: hidden;
  transition: all 1s ease;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: calc(100%);
  left: 0;
  padding: 0 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch
}

.geser a {
  border: 2px solid #646464;
  margin: 10px;
  padding: 0 7px;
  border-radius: 10px;
  color: rgb(21, 93, 247);
}

#pergeseran>* {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-shrink: 0;
  width: 100%;
  min-height: 80px;
  background: rgba(255, 255, 255, 0.842);
  color: rgb(0, 0, 0);
  margin: 0 20px 0 0;
  scroll-snap-align: center
}

#pergeseran>*:last-child {
  margin-right: 0
}

#pergeseran:after {
  content: '';
  display: block;
  flex-shrink: 0;
  align-self: stretch;
  padding-left: 50px;
}

/*ICON SOSIAL MEDIA*/
/* sosial*/
.fh5co-social {
  text-align: center;
  position: relative;
  padding: 1px 0;
  margin-top: 4%;
  margin-bottom: 4%;
}

.fh5co-social .site-container {
  text-align: center;
}

@media (max-width: 991px) {
  .fh5co-social {
    text-align: center;
    margin-top: 10%;
  }
  .social {
    flex-direction: column;
  }
  .social-icons{
    margin-top: 2%;
  }
}

.social {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.social-icons {
  margin-top: 3%;
  text-align: center;
  transition: transform 0.9s;
}


.social-icons a {
  text-align: center;
  position: relative;
  margin: 5px;
  transition: 0.3s ease;
}

.social-icons i {
  text-align: center;
  transition: 0.3s ease;
  color: #ffffff;
  left: 50%;
  top: 50%;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 10px 11px;
}

#facebook:hover{
  transform: translateY(-10px);
  background-color: #1f469b;
  color: #ffffff;
  box-shadow: 0 0 20px 5px #1f469b;
}

#whatsapp:hover{
  transform: translateY(-10px);
  background-color: #25d366;
  color: #ffffff;
  box-shadow: 0 0 20px 5px #25d366;
}

#instagram:hover{
  transform: translateY(-10px);
  background-image: linear-gradient(to left, #e72309, #ac0696);
  color: #ffffff;
  box-shadow: 0 0 20px 5px #e1306c;
}

#tiktok:hover {
  transform: translateY(-10px);
  background-image: linear-gradient(to right, #00ccff, #ac0606);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px 5px #1f1f20;
}


.social-icons a:hover {
  border-color: transparent;
  align-items: center;
  padding: 8px 9px;
  border-radius: 50%;

}


/* copright */
footer:after{
  top: 5%;
  position: absolute;

}
.bawah p {
  margin-top: 2%;
  margin-bottom: 0%;
  color: #fff;
  font-size: 17px;
  background-color: #1a1a1a;
  padding: 10px;
}

.bawah a {
  color: aqua;
}